@import "../style/mixin.scss";

.like {
    button {
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 50px;
        background-color: rgba(0, 0, 0, 0);
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 70px;
    
        img {
            width: 17px;
            height: auto;
            margin-right: 5px;
        }
    }
    button:hover{
        cursor: pointer;
    }
}

@include mobile {
    .like button {
        width: 50px;
        font-size: 0.7rem;
        img{
            width:12px;
        }
    }
}