.scrap {
    position:absolute;
    bottom:0;
    right:0;

    button {
        border: none;
        background-color: rgba(0, 0, 0, 0);

        img {
            width: 30px;
            height: auto;
        }



    }
}